@import "src/sass/core";
@import "src/sass/placeholders/index";


.alert-box {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  padding: px-to-rem(40px);
  border: 2px solid $color-tech-gold;
  border-radius: px-to-rem(10px);

  &__body {
    margin-top: 1rem;
  }

  &__link {
    margin-top: 2rem;

    @include media-breakpoint-down(sm) {
      align-self: center;
    }

    a,
    button {
      @include gtl-button--secondary;
    }

    svg.ext {
      margin-left: 25px;
      transform: scale(2.5) translateY(-3px);
      fill: $color-neutral000;

      path {
        stroke: $color-neutral000;
      }
    }

    &:hover svg.ext {
      fill: $color-white;

      path {
        stroke: $color-white;
      }
    }
  }
}
