@import '../../global/utils/init';

.header_gatech_new {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  background-color: $color-tech-gold;
  transition: top $transition;

  .header {
    &__hatch {
      width: 100%;
      height: 10px;
      position: absolute;
      top: 0;
      left: 0;
      background: url('/themes/custom/gtl_theme/dist/assets/background-body-white.svg') repeat-x top left / 20px 20px;
    }

    &__inner {
      width: 100%;
      position: relative;
      padding-top: 10px;
    }

    &__logo {
      position: absolute;
      left: 0;
      top: 0;
      background-color: $color-white;
      z-index: 1;
      box-shadow: 0 15px 12px rgba(0, 0, 0, 0.03);
      margin-left: $gutter-unit;
      padding: 1.5rem 0.8125rem 0.8125rem;
      border-radius: 0 0 10px 10px;

      @include breakpoint($bp-sm) {
        padding: 1.625rem 1.8rem 0.8125rem;
      }

      img {
        width: 8.125rem;

        @include breakpoint($bp-760) {
          width: 12.5rem;
        }
      }
    }

    &__menu {
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: flex-end;
      position: relative;
      padding: 0.6875rem 0;

      @include breakpoint($bp-sm) {
        padding: 1.125rem 0;
      }
    }

    &__search-popup-container {
      display: flex;
      opacity: 0;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      background-color: $color-neutral500;
      border-radius: 0 0 10px 10px;
      box-shadow: $color-box-shadow-menu;
      padding: 2rem 1rem 1rem;
      transition: all .3s ease-in-out;

      @include breakpoint($bp-xxsm) {
        left: unset;
        padding-top: 1rem;
      }

      &.open {
        opacity: 1;
      }
    }

    &__search-wrapper {
      display: flex;
      border-radius: 50px;
      border: 2px solid $color-neutral200;
      border-right: none;
      width: 100%;

      @include breakpoint($bp-xxsm) {
        width: unset;
      }

      &:hover,
      &:focus {
        border: 2px solid $color-secondary000;
        border-right: none;
      }

      input {
        font-size: 1rem;
        margin-left: 0.8rem;
        padding: 0.5rem;
        background-color: $color-neutral500;
        width: 100%;

        @include breakpoint($bp-xxsm) {
          width: unset;
        }

        &:focus{
          outline: none;
        }
      }
    }

    &__search-button.btn--primary {
      margin: 0;
      height: 100%;
    }
  }

  .secondary-menu {
    display: flex;

    a,
    button {
      color: $color-black;
      font-weight: $font-weight-semibold;
      font-size: $font-14;
      background-color: $color-white;
      width: auto;
      padding: 0.5rem 0.8rem;
      border-radius: 200px;
      margin-left: 2.5rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 0;
      transition: background-color $transition-duration, color $transition-duration;

      &:hover {
        background-color: $color-navy-blue;
        color: $color-white;
        text-decoration: none;
      }

      &.search-toggler {
        margin-left: 1rem;
        background: $color-white url('/themes/custom/gtl_theme/dist/assets/search.svg') no-repeat center center / 1rem;
        width: 2.7rem;
        height: 2rem;
        cursor: pointer;

        svg {
          width: 1.25rem;
          height: 1.25rem;
        }

        &.open {
          background: $color-white url('/themes/custom/gtl_theme/dist/assets/close-custom.svg') no-repeat center center / 1.25rem;
        }
      }

      &.mobile-menu-toggle {
        margin-left: 1rem;
      }

      svg {
        width: 1rem;
        height: 1rem;

        path {
          fill: $color-neutral100;
        }
      }

      &:hover {
        svg path {
          fill: $color-white;
        }
      }

      &.mobile-menu-toggle {
        display: inline-flex;
        background: $color-white url('/themes/custom/gtl_theme/dist/assets/hamburger.svg') no-repeat center center / 1.25rem;
        width: 40px;

        @include breakpoint($bp-lg) {
          display: none;
        }

        svg {
          width: 1.25rem;
          height: 1.25rem;
        }
      }

      &.give-item {
        display: none;

        @include breakpoint($bp-lg) {
          display: inline-flex;
        }
      }
    }
  }
}

.scroll-down {
  header {
    top: -200px;
  }
}

.sidr-open {
  .header_gatech_new .secondary-menu a,
  .header_gatech_new .secondary-menu button {
    &.mobile-menu-toggle {
      background: $color-white url('/themes/custom/gtl_theme/dist/assets/close-custom.svg') no-repeat center center / 1.25rem;
    }
  }
}
