@import "src/sass/core";
@import "src/sass/placeholders/index";

$prefix: '.image-card';

#{$prefix} {
  background-color: $color-white;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  margin: 0;

  &__image {
    aspect-ratio: 438 / 337;

    article,
    .contextual-region,
    & > div,
    img {
      width: 100%;
      height: 100%;
    }

    img {
      object-fit: cover;
    }
  }

  &__content {
    padding: 3.125rem;
    display: flex;
    flex-direction: column;

    h3 {
      margin-bottom: 1rem;
    }
  }

  &__link {
    a {
      @include gtl-button--primary;
      text-decoration: none;
      margin-top: auto;
    }
  }

  &#{$prefix}--single {
    img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }

  &#{$prefix}--profile {
    background-color: transparent;
    border-radius: 0;

    #{$prefix} {
      &__content {
        padding: 2.375rem 0.75rem;
        text-align: center;
      }

      &__image {
        aspect-ratio: 1 / 1;
        border-radius: 10px;
        overflow: hidden;
      }

      &__role,
      &__email {
        @extend %h5;
      }

      &__email {
        text-decoration-thickness: 1px;
        text-underline-offset: 4px;
        color: $color-navy-blue;
      }

      &__body {
        margin-top: 1rem;
      }
    }
  }
}
