//
// Breakpoints
//

//480px:
$bp-xxsm: 30rem;
//525px
$bp-525: 32.813rem;
//640px:
$bp-xsm: 40rem;
//760px
$bp-760: 47.5rem;
//880px:
$bp-sm: 55rem;
//1024px:
$bp-md: 64rem;
// 1140px
$bp-1140: 71.25rem;
//1200px:
$bp-lg: 75rem;

$gbp-sm: 36rem;
$gbp-md: 48rem;
$gbp-lg: 62rem;
$gbp-xl: 75rem;
$gbp-xxl: 87.5rem;

//320px (in rem due to function requirement).
$bp-liquid-sm: 20rem;
//1600px (in rem due to function requirement).
$bp-liquid-lg: 100rem;
