@import '../../sass/core';

.fc {
  padding-top: rem(70);
  padding-bottom: rem(70);
  background-color: $color-neutral500;

  a {
    text-decoration: none;
  }

  table {
    border: none;

    td,
    th {
      border-color: transparent;
      background-color: $color-neutral500;
    }

    th {
      @include text-heading5;
    }

    tbody {
      tr {
        background-color: $color-neutral500;
      }
    }
  }

  // Event.
  .calendar-event {
    @include body-base;
    padding: rem(12) rem(12) rem(18) rem(12);
    margin-bottom: rem(10);
    border-radius: rem(4);
    background-color: $color-neutral400;
    color: $color-neutral000;
    border: none;
    display: block;
    overflow-wrap: normal;
    word-break: normal;
    white-space: normal;

    .calendar-event__title {
      font-weight: 500;
      margin: rem(8) 0;
    }

    .calendar-event__subtitle {
      color: $color-neutral100;
    }
  }

  a.fc-event,
  a.calendar-event-link {
    text-decoration: none;
    display: block;

    &:hover {
      .calendar-event {
        background-color: $color-primary000;
        text-decoration: none;

        .calendar-event__subtitle {
          color: $color-neutral000;
        }
      }
    }
  }

  // Calendar buttons.
  .fc-button-primary {
    padding: 0;
    background-color: transparent;
    border: none;
    color: $color-neutral000;

    &:not(:disabled) {
      &:hover,
      &.fc-button-active,
      &:active,
      &:focus,
      &:active:focus {
        color: $color-neutral000;
        background-color: transparent;
        box-shadow: none;
      }

      &.fc-button-active {
        &:active,
        &:focus,
        &:active:focus {
          color: $color-neutral000;
          background-color: transparent;
          box-shadow: none;
        }
      }
    }
  }

  // Prev / next buttons.
  .fc-prev-button,
  .fc-next-button {
    width: rem(54);
    height: rem(54);
    border-radius: 9999px;

    &:not(:disabled) {
      &:hover,
      &:active,
      &:focus,
      &:active:focus {
        background-color: $color-primary000;
      }
    }
  }

  .fc-icon-chevron-left,
  .fc-icon-chevron-right {
    background: url('/themes/custom/simons_glider/images/icon-arrow-left.svg') no-repeat center center;
    width: rem(36);
    height: rem(36);

    &::before {
      content: unset;
    }
  }

  .fc-icon-chevron-right {
    background: url('/themes/custom/simons_glider/images/icon-arrow-right.svg') no-repeat center center;
  }

  // Toolbar.
  .fc-toolbar {
    &.fc-header-toolbar {
      display: block;
      margin-bottom: rem(54);

      .fc-toolbar-chunk {
        // Top toolbar (Month, Week, Day).
        &:first-child {
          margin-bottom: rem(90);
          border-bottom: 1px solid $color-primary300;

          > *:not(:first-child) {
            margin-left: rem(60);
          }

          .fc-button-primary {
            @include text-heading5;
            padding-bottom: rem(10);
            border-radius: 0;
            border-bottom: 4px solid transparent;
            color: $color-neutral100;

            &.fc-button-active,
            &:hover,
            &:focus {
              color: $color-neutral000;
              border-bottom-color: $color-primary000;
            }
          }
        }

        // Bottom toolbar (Prev / Next, Title).
        &:nth-child(2) {
          display: flex;
          justify-content: space-between;
          align-items: center;

          @include media-breakpoint-up(md) {
            justify-content: center;
            gap: rem(100);
          }

          button,
          .fc-toolbar-title {
            margin: 0;
          }

          .fc-toolbar-title {
            @include text-heading3;
            text-align: center;
          }
        }
      }
    }
  }

  // Grid view.
  .fc-daygrid {
    .fc-scrollgrid {
      border: none;
    }

    .fc-daygrid-day-top {
      @include text-heading5;
      justify-content: center;
    }

    .fc-daygrid-day-events {
      margin-top: rem(34);
      margin-bottom: rem(34);
    }

    .fc-daygrid-event {
      background: none;
      border: none;

      &.fc-event-start {
        margin-left: rem(12);
      }

      &.fc-event-end {
        margin-right: rem(12);
      }
    }

    .fc-day-today {
      background-color: $color-neutral500;
    }

    table {
      border-collapse: collapse;
    }

    thead,
    tbody {
      border: none;
    }

    td,
    th {
      border-left-color: $color-primary300;
      border-right-color: $color-primary300;
      border-width: 1px;
      border-bottom: none;
      border-top: none;
    }

    .fc-scrollgrid-sync-table {
      td {
        border-bottom: 1px solid transparent;
        background-color: transparent;
      }
    }

    &.fc-dayGridDay-view {
      .fc-col-header-cell {
        text-align: left;
      }

      .fc-col-header-cell-cushion {
        padding-bottom: rem(20);
      }

      .fc-daygrid-day-events {
        margin-top: 0;
      }

      .fc-daygrid-event {
        margin-left: 0;
        margin-right: 0;
      }

      td,
      th {
        border: none;
      }
    }
  }

  // List view.
  .fc-list {
    border: none;

    .fc-list-table {
      tbody {
        border: none;
      }
    }

    .fc-list-day-cushion {
      background-color: $color-neutral500;
    }

    .fc-list-day-side-text,
    .fc-list-event-time,
    .fc-list-event-graphic {
      display: none;
    }

    .fc-list-table td {
      padding: 0;
    }

    .fc-list-event.fc-event-forced-url:hover {
      a {
        text-decoration: none;
      }

      td {
        background-color: $color-neutral500;
      }
    }

    .fc-list-day {
      th {
        .fc-list-day-cushion {
          padding: rem(30) 0 rem(20);
        }
      }

      &:first-child {
        th {
          .fc-list-day-cushion {
            padding-top: 0;
          }
        }
      }
    }
  }
}
