//=======================================================
// Functions
//=======================================================

// Function to return a value from a map based on a key.
@function get-var($key, $map) {
  @if map-has-key($map, $key) {
    @return map-get($map, $key);
  }

  @warn 'Unknown `#{$key}` in map. Try "@include print($map);" to see what\'s available.';
  @return null;
}

// Function to round, floor, or ceiling a decimal value with units to a desired
// number of places.
@function decimal-round($value, $places, $method: 'round') {
  $unit: $value * 0 + 1;
  $scaled-inverse-unit: 1 / $unit;

  @for $i from 1 through $places {
    $scaled-inverse-unit: $scaled-inverse-unit * 10;
  }

  @if $method == 'floor' {
    @return #{floor($value * $scaled-inverse-unit)/$scaled-inverse-unit};
  }
  @else if $method == 'ceil' {
    @return #{ceil($value * $scaled-inverse-unit)/$scaled-inverse-unit};
  }
  @else {
    @return #{round($value * $scaled-inverse-unit)/$scaled-inverse-unit};
  }
}