// Type
//
// Custom fonts are loaded via JavaScript provided by fonts.com.
//
// Markup:
// <h3>Base</h3>
// <h4>font-stack-base</h4>
// <div style="font: 20px/2 'Roboto'"> Roboto </div>
// <div style="font: bold 20px/2 'Roboto'"> Roboto Bold </div>
// <h3>Secondary</h3>
// <h4>font-stack-secondary</h4>
// <div style="font: 20px/2 'Roboto Condensed'"> Roboto Condensed </div>
// <div style="font: bold 20px/2 'Roboto Condensed'">Roboto Condensed Bold </div>
// <h3>Title Font</h3>
// <h4>font-stack-title</h4>
// <div style="font: 20px/2 'Abel'"> Abel </div>
// <a href="#" class="chevron-link"> This is a chevron link </a>
// <button class="btn btn-chevron"> This is a chevron button</button>
//
// Weight: 999
//
// Style guide: Typography.Type

@import '../../global/utils/breakpoints';

@mixin font-stack-base {
  font-family: 'Roboto', 'Arial', sans-serif;
}

@mixin font-stack-secondary {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
}

@mixin font-stack-title {
  font-family: 'Roboto', 'Arial', sans-serif;
}

@mixin font-stack-slab {
  font-family: 'Roboto Slab', serif;
}

$font-weight-bold: 700;
$font-weight-semibold: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-italic: italic;

// Used with the fluid type function.
// https://blog.codepen.io/2016/10/31/fluid-type-blogs/

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

$font-10: 0.625rem;
$font-12: 0.750rem;
$font-14: 0.875rem;
$font-15: 0.938rem;
$font-16: 1rem;
$font-18: 1.125rem;
$font-18: 1.188rem;
$font-20: 1.250rem;
$font-22: 1.375rem;
$font-24: 1.500rem;
$font-26: 1.625rem;
$font-28: 1.750rem;
$font-30: 1.875rem;
$font-32: 2rem;
$font-34: 2.125rem;
$font-36: 2.250rem;
$font-38: 2.375rem;
$font-40: 2.5rem;
$font-46: 2.875rem;
$font-48: 3rem;
$font-50: 3.125rem;
$font-52: 3.25rem;
$font-42: 2.625rem;
$font-64: 4.000rem;
$font-80: 5.000rem;
$font-100: 6.25rem;
$font-105: 6.563rem;
$min-width: $bp-liquid-sm;
$max-width: $bp-liquid-lg;
$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {

      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin heading-h1 {
  @include font-stack-title;
  font-size: $font-40;
  line-height: $font-46;
  font-weight: $font-weight-light;

  @include breakpoint($bp-sm) {
    font-size: $font-80;
    line-height: $font-105;
  }
}

@mixin heading-h1-slab {
  @include font-stack-slab;
  font-size: $font-40;
  line-height: $font-46;

  @include breakpoint($bp-sm) {
    font-size: $font-80;
    line-height: $font-105;
  }
}

@mixin heading-h2 {
  @include font-stack-slab;
  font-size: $font-30;
  line-height: $font-38;

  @include breakpoint($bp-sm) {
    font-size: $font-46;
    line-height: $font-52;
  }
}

@mixin heading-h3 {
  @include font-stack-slab;
  font-size: $font-22;
  line-height: $font-30;
  font-weight: $font-weight-semibold;

  @include breakpoint($bp-sm) {
    font-size: $font-32;
    line-height: $font-42;
  }
}

@mixin heading-h3-roboto {
  @include heading-h3;
}

@mixin heading-h4 {
  @include font-stack-slab;
  font-size: $font-20;
  line-height: $font-26;
  font-weight: $font-weight-semibold;

  @include breakpoint($bp-sm) {
    font-size: $font-26;
    line-height: $font-38;
  }
}

@mixin heading-h5 {
  @include font-stack-slab;
  font-size: $font-16;
  line-height: $font-22;
  font-weight: $font-weight-semibold;

  @include breakpoint($bp-sm) {
    font-size: $font-20;
    line-height: $font-30;
  }
}

@mixin heading-h6 {
  @include font-stack-slab;
  font-size: $font-14;
  line-height: $font-22;
  font-weight: $font-weight-semibold;

  @include breakpoint($bp-sm) {
    font-size: $font-18;
    line-height: $font-24;
  }
}

@mixin body-font-size {
  @include font-stack-base;
  font-size: $font-16;
  line-height: $font-28;
}

@mixin body-font-size-small {
  @include font-stack-base;
  font-size: $font-14;
  line-height: $font-22;
}

@mixin body-font-size-x-small-label {
  @include font-stack-base;
  font-size: $font-12;
  line-height: $font-22;
  font-weight: $font-weight-bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@mixin condensed-font-size-small {
  @include font-stack-secondary;
  @include fluid-type($min-width, $max-width, $font-16, $font-20);
  line-height: 1.555;
}

@mixin medium-body-font-size {
  @include font-stack-base;
  font-size: $font-20;
  line-height: $font-34;
}

@mixin large-body-font-size {
  @include font-stack-base;
  font-size: $font-24;
  line-height: $font-40;
}

@mixin page-title-size {
  @include heading-h1-slab;
}

@mixin body-base {
  @include body-font-size;
}
