// Main Menu
//
// The Navigation component is rendered in the header
// The menu is based on the adobe mega menu.
// https://adobe-accessibility.github.io/Accessible-Mega-Menu/
// There is a js file that stores the css keys for the menu.
// We are also referencing the mega-menu main js file.
//
// Markup: main-menu.twig
//
// Style guide: Navigation.Main Menu

// Import site utilities.
@import '../../global/utils/init';

.main-navigation {
  display: none;
  width: 100%;

  @include breakpoint ($gbp-xl) {
    display: block;
  }

  .header__mobile-menu-container & {
    display: block;
    z-index: $zi-low;

    @include breakpoint ($gbp-xl) {
      display: none;
    }
  }
}

.main-navigation__menu {
  display: flex;
  flex-direction: column;

  @include breakpoint ($bp-sm) {
    align-items: center;
    flex-direction: row;
  }
}

.main-navigation__item {
  font-size: $font-14;
  font-weight: $font-weight-semibold;
  color: $color-neutral000;
  margin: 0.5rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint ($bp-sm) {
    margin: 0;
    position: static;
  }

  a {
    text-decoration: none;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $color-white;
      opacity: 0;
      left: 0;
      bottom: -10px;
      transition: opacity 0.3s;
    }

    &:hover {
      text-decoration: none;

      &::after {
        opacity: 1;
      }
    }
  }
}

.main-navigation__separator {
  display: none;

  @include breakpoint ($bp-sm) {
    display: block;
    width: 33px;
    height: 17px;

    .sub-nav-mega-menu {
      display: block;
    }
  }
}

.main-navigation__navbar-text {
  font-size: $font-14;
  color: $color-neutral000;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: center;
  border: 0;

  &.open-mobile {
    font-weight: bold;

    .vertical {
      display: none;
    }
  }

  &.hover,
  &:hover {
    color: $color-neutral000;
  }

  .accordion-icon {
    display: block;

    @include breakpoint ($bp-sm) {
      display: none;
    }

    svg {
      width: 22px;
      height: 22px;
    }
  }
}

.main-navigation__mega-menu {
  display: none;
  margin-left: -1rem;
  margin-right: -1rem;
  width: 75%;

  @include breakpoint ($bp-sm) {
    left: 0;
    margin-left: 25%;
    margin-right: 0;
    position: absolute;
    top: 100%;
    width: 75%;
  }

  &.open,
  &.open-mobile {
    display: block;
    z-index: $zi-low;
  }
}

.main-navigation__mega-menu-inner {
  background-color: $color-white;
  border-radius: 0 0 10px 10px;
  box-shadow: $color-box-shadow-menu;
  display: flex;
  flex-direction: column;
  max-width: 100%;

  @include breakpoint ($bp-sm) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3.125rem 2.188rem;
  }
}

.main-navigation__group-title {
  @include font-stack-slab;
  font-weight: $font-weight-semibold;
  font-size: $font-16;
  line-height: 1.375rem;

  @include breakpoint ($bp-sm) {
    border-left: 1px solid $color-tech-gold;
    padding: 0 0 0 1rem;
  }
}

.main-navigation__mega-menu-group {
  display: flex;
  flex: 1 1 25%;
  flex-direction: column;
  padding: 1rem;

  @include breakpoint ($bp-sm) {
    padding: 0 2.188rem;
  }
}

.main-navigation__group-menu {
  margin: 0.75rem 0 0;
  border-left: 1px solid $color-tech-gold;
  padding: 0 1rem;
  transition: min-width $motion-fast;

  @include breakpoint ($bp-sm) {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0;
    width: 100%;
  }
}

.main-navigation__group-link {
  text-decoration: none;
  font-weight: $font-weight-regular;
  color: $color-neutral100;

  &:hover {
    text-decoration: underline;
    color: $color-neutral100;
    border-bottom: 2px solid $color-tertiary000;
  }
}

.main-navigation__group-item {
  margin-bottom: 1rem;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

