@import "src/sass/core";
@import "src/sass/placeholders/index";

.basic-content {
  &__title {
    vertical-align: center;
    margin-bottom: 2.25rem;
  }

  &__icon {
    display: flex;
    vertical-align: middle;
    margin-right: 1.25rem;

    &::before {
      color: $color-tech-gold;
      @extend %icon;
    }

    @include media-breakpoint-up(lg) {
      display: inline-flex;
    }

    &--above {
      @include media-breakpoint-up(lg) {
        display: flex;
      }
    }
  }

  &__body {
    @extend %font-lg;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__additional_text {
    @include media-breakpoint-up(lg) {
      column-count: 2;
      column-gap: 15px;
    }
  }

  &__link {
    margin-top: 1.5rem;

    a {
      @include gtl-button--secondary;
    }
  }

  .layout--twocol-section & {
    max-width: unset;
  }
}

// Apply only inside layout__region--first.
.layout__region--first {
  .basic-content {
    @include media-breakpoint-up(sm) {
      &__title {
        max-width: 70%;
      }
    }
  }
}

.layout--twocol-section {
  .basic-content.container-lg {
    padding-left: 0;
    padding-right: 0;
  }
}

.layout--twocol-section--50-50 {
  .basic-content {
    @include media-breakpoint-up(md) {
      &__title,
      &__body,
      &__additional_text {
        max-width: 37.5rem;
      }
    }
  }
}
